*.xcbkptlist
/Covid19.xcodeproj/xcuserdata/bestk1ng.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/CovidApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/CovidApp.xcodeproj/project.xcworkspace/xcuserdata/bestk1ng.xcuserdatad/IDEFindNavigatorScopes.plist
/Covid19.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/CovidApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
